.caixaNumero{
    color: rgb(34, 0, 0);
    width: 50px;
    height: 50px;
    border: 3px double rgb(0, 0, 0);
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaNumero:hover{
    border: 3px solid rgb(0, 0, 0);
}

.selecionada{
    border: 3px solid rgb(0, 0, 0);
    
}


.cor-0{
    background-color: rgb(230, 205, 205);
}
.cor-1{
    background-color: rgb(255, 240, 240);
}
.cor-2{
    background-color: rgb(255, 225, 225);
}
.cor-4{
    background-color: rgb(255, 210, 210);
}
.cor-8{
    background-color: rgb(255, 195, 195);
}
.cor-16{
    background-color: rgb(255, 180, 180);
}
.cor-32{
    background-color: rgb(255, 165, 165);
}
.cor-64{
    background-color: rgb(255, 150, 150);
}
.cor-128{
    background-color: rgb(255, 135, 135);
}
.cor-256{
    background-color: rgb(255, 120, 120);
}
.cor-512{
    background-color: rgb(255, 105, 105);
}
.cor-1024{
    background-color: rgb(255, 90, 90);
}
.cor-2048{
    background-color: rgb(255, 75, 75);
}
.cor-4096{
    background-color: rgb(255, 60, 60);
}
.cor-8192{
    background-color: rgb(255, 45, 45);
}
.cor-16384{
    background-color: rgb(255, 30, 30);
}
.cor-32768{
    background-color: rgb(255, 15, 15);
}

.cor-A{
    background-color: rgb(0, 205, 205);
}
.cor-B{
    background-color: rgb(0
    , 240, 240);
}
.cor-C{
    background-color: rgb(0
    , 225, 225);
}
.cor-D{
    background-color: rgb(0
    , 210, 210);
}
.cor-E{
    background-color: rgb(0
    , 195, 195);
}
.cor-F{
    background-color: rgb(0
    , 180, 180);
}
.cor-G{
    background-color: rgb(0
    , 165, 165);
}
.cor-H{
    background-color: rgb(0
    , 150, 150);
}
.cor-I{
    background-color: rgb(0
    , 135, 135);
}
.cor-J{
    background-color: rgb(0
    , 120, 120);
}
.cor-K{
    background-color: rgb(0
    , 105, 105);
}
.cor-L{
    background-color: rgb(0
    , 90, 90);
}
.cor-M{
    background-color: rgb(0
    , 75, 75);
}
.cor-N{
    background-color: rgb(0
    , 60, 60);
}
.cor-O{
    background-color: rgb(0
    , 45, 45);
}
.cor-P{
    background-color: rgb(0
    , 30, 30);
}
.cor-Q{
    background-color: rgb(0
    , 15, 15);
}