.linhaCaixa{
  display: flex;
  flex-direction: row;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 77, 77);
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(77, 77, 77);
}
.botoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  padding: 50px;
}
.botaoMerge:hover{
  border: 3px solid rgb(0, 0, 0);
}

.botaoMerge{
  background-color: rgb(252, 252, 252);
  border-radius: 100%;
  border: 3px solid rgb(255, 255, 255);
}
.botoes:disabled{
  background-color: black;
}
button{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensagem-sucesso{
  color: white;
}

.mensagem-erro{
  color: red;
  text-decoration: underline;
}